<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Randu - Kasir &amp; POS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>randu</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Aplikasi ini memerlukan akses Bluetooth untuk terhubung ke perangkat printer dan mencetak struk transaksi. Akses Bluetooth hanya akan digunakan untuk keperluan pencetakan dan tidak akan digunakan untuk tujuan lain tanpa izin.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Aplikasi ini memerlukan akses Bluetooth untuk terhubung ke perangkat printer dan mencetak struk transaksi. Akses Bluetooth hanya akan digunakan untuk keperluan pencetakan dan tidak akan digunakan untuk tujuan lain tanpa izin.</string>
	<key>NSCameraUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke kamera untuk scan barcode..</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke lokasi Anda saat digunakan untuk mencatat lokasi kehadiran secara akurat dalam proses absensi. Data lokasi hanya akan digunakan untuk tujuan ini dan tidak akan dibagikan tanpa izin.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke lokasi Anda saat digunakan untuk mencatat lokasi kehadiran secara akurat dalam proses absensi. Data lokasi hanya akan digunakan untuk tujuan ini dan tidak akan dibagikan tanpa izin..</string>
	<key>NSLocationUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke lokasi Anda saat digunakan untuk mencatat lokasi kehadiran secara akurat dalam proses absensi. Data lokasi hanya akan digunakan untuk tujuan ini dan tidak akan dibagikan tanpa izin..</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke lokasi Anda saat digunakan untuk mencatat lokasi kehadiran secara akurat dalam proses absensi. Data lokasi hanya akan digunakan untuk tujuan ini dan tidak akan dibagikan tanpa izin.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Aplikasi ini memerlukan akses ke galeri foto untuk mengunggah dan menyimpan foto sebagai bukti absensi. Foto yang diambil akan digunakan untuk mencatat kehadiran dan tidak akan dibagikan tanpa izin.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
